#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  background-image: url('/src/assets/pat.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  padding: 2em;
  margin: 2em;
  background-color: grey;
}
.navbar{
  padding: 10px;
  display: flex;
}
.container{
  width: max-content;
  height: 600px;
}

.links a{
  margin-left: auto;
}
.navbar a{
  margin-left: 16px;
  text-decoration: none;
}

.footer{
  padding: 10px;
  text-align: center;
}

